
.navLink{
  color:rgb(140, 140, 140);
  text-decoration : none;
  font-weight: 500;
  margin: 10px;
  transition: color 0.3s ease;
  
}
:root{
  /*--beige:rgb(255, 212, 192);/*/
  --beige:white;

  --brown:rgb(140, 140, 140);
  --darkbrown:black;
  --green:#50862c;
  

}
html{
  font-family: "Inter", sans-serif;
  font-style: normal;
}


body , .root{
  width:100%;
  margin: 0px;
  background-color:  var(--beige) ;
}
.navbar{
  display: flex;
  position:fixed;
  border:solid 1px rgb(140 , 140, 140) ;
  width:100%;
  top:0px;
  margin :0px;
  padding:0px;  
  height:80px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index:100;


}
.navbar-space{
  width:100%;
  height:80px;
}
.navbar-links{
  margin-left: 20px;;
}

.navbar-buttons{
  margin-right: 15px;
  display: flex;

  
}
.sign-up , .log-in{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--darkbrown);
  margin: 0px 5px;
  border-radius: 5px;
  height:30px;
  width:60px;
  cursor:pointer;
  font-size: 0.8rem;
  text-decoration: none;
 
}
.sign-up{
  background-color: var(--green);
  color:var(--darkbrown)
}
.log-in{
  background-color: var(--darkbrown);
  color:var(--beige)
}
.navbar-links > .navLink{
  margin : 0px 30px;
  font-size: 1.2rem;
  
}

.all-title{
  display: flex;
  justify-content: center;
  margin-top: 60px;

}
.title{
  margin-right:20%;
  margin-top:50px;
}
.image-title{
  width:30%;
  min-width: 250px;;
  max-width: 500px;
  border-radius: 50%;;
}
.title-buttons-container{
  display: flex;
  gap:20px;
}

.name{
  color:var(--green);
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
}

.first-type{
  color:var(--darkbrown)
}
.sec-type{
  color:var(--green);
}
.button-first-type , .button-sec-type{
  background-color: var(--beige);
  border:solid 1px var(--darkbrown);
  border-radius: 5px;
  
  height:40px;
  width:110px;
  cursor:pointer;
  font-size: 0.9rem;
}
button{
  cursor:pointer;

}
button:active{
  opacity:0.7;
}
.button-sec-type{
  background-color: var(--green);
  color:var(--darkbrown);
}
.button-first-type{
  background-color: var(--darkbrown);
  color:var(--beige)
  
}
.button-first-type:hover , .button-sec-type:hover{
  opacity:0.7;
  height:41px;
}
.best-selling{
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
}
.card{
  background-color:white ;
  display: flex;
  flex-direction: column;
  border-radius:8px ;
  padding:2px;
  -webkit-box-shadow: 0px 14px 27px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 27px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 14px 27px -4px rgba(0,0,0,0.75);
  margin: 40px 30px;
  width:250px;
  padding-bottom: 20px;
}
.card-img{
  padding:0px;
  margin:0px;
  border-radius: 8px;
  width:250px;
  height:220px;
}

.card-desc{
  color:black;
  margin-left: 10px;
  margin-right: 10px;
}
.cards-container{
  width:90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content:center  ;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 1000px;;
  

  
}
.best-selling-title{
  margin-top: 100px;;
  color:var(--darkbrown)
}

.footer{
  background-color: var(--green);
  color:rgb(235, 235, 235);
  display:grid;
  grid-template:  180px 40px / repeat(3,1fr) ;
  justify-items: center;
  justify-content:space-around ;
  padding-top:10px;
}

.vertical-divider{
  background-color: white;
  width:100%;
  height: 1px;
  
  grid-column: 1 / -1;

}
p{
  margin-top: 5px;;
  margin-bottom: 5px;;
}
svg{
  margin: 10px;;
  width: 20px;
  height:20px;
  cursor: pointer;

}
svg:hover{
  color: var(--brown);
}
.navLink:hover{
  color:black;
  text-decoration:none;
  
}
section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 2rem;
  margin-bottom:10px;
}
.footer-navlink{
  text-decoration: none;
  color:rgb(235, 233, 233);
  margin:5px 0px;
}
.footer-navlink:hover{
  color:var(--brown);
  text-decoration:none;
  font-weight:800;
}
select{
  margin-right:20px;
  width:140px;
  height:45px;
  padding:10px;
  border-radius:8px;
  background-color: var(--beige);
  border: solid 1px var(--darkbrown);
  cursor:pointer;
}
select:hover{
  border-width:3px;
  
}
.shop{
  padding-top:50px;
  display: flex;
  flex-wrap: wrap;
  
}

.sub-shop{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.filter-name{
  margin:0px ;
  margin-right:10% ;
  color:var(--darkbrown)
} 

.login-card{
  width: 80%;
  max-width:400px;
  height:400px;
  display: flex;
  flex-direction:column;
  margin:auto;
  margin-top: 50px;
  align-items: center;
  background-color: var(--green);
  color:white ;
  border-radius:12px ;
}

.login-form{
  width:70%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap:10px;
}
input{
  border:none;
  border-radius: 5px;;
  height:30px;
  padding:0px 6px;
  padding-right:16%;
  
}
.submit-button{
  background-color:var(--brown);
  color:white;
  border:none;
  margin-top:10px;
  border-radius: 5px;;
  height:30px;
  width:100px;
  margin:auto;
  margin-top:10px;
  
}
dialog{
  width:60%;  
  padding:0px;
  max-width: 500px;;
  box-sizing: border-box;
  border-radius: 10px;
  inset:0;
  
  

}
.addProduct{
  position: fixed;
  bottom: 0;
  right:0;
  margin:30px;
  background-color: var(--green);
  border:solid 2px black;
  border-radius: 50%;;
  width:40px;
  height:40px;
}
.dialog-full-screen{
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  z-index:100;
  bottom:0;
  transition: background-Color 0.5s ease;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.scale-in {
  animation: scaleUp 0.3s ease forwards;
  transform-origin: center;
}
.scale-out{
  animation: scaleDown 0.3s ease forwards;
  transform-origin: center;
}

.add-prods{
  background-color: white     ;
  opacity: 0.9; 
  display: flex;
  flex-direction: column;
  width:100%;  
  border:solid 1px darkgrey;
  padding:10px 20px;
  box-sizing: border-box;
  border-radius: 8px;;
  max-width: 500px;;
  margin:0;
  
  
}
.add-prods > input{
  border:solid 1px black;
  margin : 5px 0px;
}
.return-link{
  margin:10px;
  
}

@media(max-width:800px){
  .all-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
  }
  .cards-container{
    justify-content: center;
  }
}
@media(max-width:600px){
  .navbar{
    flex-direction: row-reverse;
  }
}
@media(max-width:500px){
  .card{
    width:230px
  }
  .card-img{
    width:230px;
    height:200px;
  }
}
@media(max-width:350px){
  .card-img{
    width:200px;
    height:180px;
  }
  .card{
    width:200px;
  }
}

/* ============================= */
/* ============================= */
/* =========== Navbar ========== */
/* ============================= */
/* ============================= */


.hamburger .hamburger-inner {
  margin-left:15px; ;
}
.hamburger-links{
  display: flex;
  flex-direction: column;
  background-color: white ;
  

}

nav {
  position:fixed;
  top: 0;          
  left: 0;
  transform: translateX(-115px); 
  width: 180px;
  height: auto;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  transition: all 0.5s ease;
  padding-top: 10px;;
  padding-right:10px ;
  
}






